# Large model files
*.pt
models/*.pt
models/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

SemEval26_Final/dataset/
SemEval26_Final/artifacts/
SemEval26_Final/catboost_info/